@keyframes showAlert {
    0% {
        left: -5rem;
    }
    50% {
        left: 2rem;
    }
    100% {
        left: -5rem;
    }
}

.alert-fixed {
    animation: showAlert 5s;
}

.close-btn {
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    color: grey;
}

.close-btn:hover {
    color: black;
}