.product-description {
    display: none;
}

.product-card:hover .product-description {
    display: flex;
}

.product-card:hover {
    box-shadow: -0.25rem .25rem .125rem .0625rem rgba(0, 0, 0, 0.1);
}